.personagem {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: medium;
    border-color: #000;
    background-size: cover;
}

.cacador {
  background-image: url('icones/warrior.svg');
}

.wumpus {
  background-image: url('./icones/monster.svg');
  /* mask: url('./icones/monster.svg'); */
}

.ouro {
  background-image: url('./icones/gold.svg');
  /* mask: url('./icones/gold.svg'); */
}

.caverna {
  background-image: url('./icones/cave.svg');
  /* mask: url('./icones/cave.svg'); */
}

.cheiro {
  background-image: url('./icones/odor.svg');
  /* mask: url('./icones/odor.svg'); */
}

.brisa {
  background-image: url('./icones/wind.svg');
  /* mask: url('./icones/wind.svg'); */
}
